<header class="header">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">
      <span class="logo-text">DomoTechSV</span>
    </a>
  </div>
  <nav class="nav-menu">
    <ul class="nav-list">
      <li class="nav-item"><a routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li class="nav-item"><a routerLink="/productos/domotica" routerLinkActive="active">Productos Domóticos</a></li>
      <li class="nav-item"><a routerLink="/productos/tecnologia" routerLinkActive="active">Productos Tecnológicos</a></li>
      <li class="nav-item"><a routerLink="/productos/segunda-mano" routerLinkActive="active">Segunda Mano</a></li>
      <li class="nav-item"><a routerLink="/que-es-domotica" routerLinkActive="active">¿Qué es la Domótica?</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active">Sobre Nosotros</a></li>
      <li class="nav-item"><a routerLink="/logros" routerLinkActive="active">Logros</a></li>
    </ul>
  </nav>
</header>